@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(rgb(10, 33, 63),rgb(27, 93, 147),rgb(12, 150, 157));
    margin:0
}

.form{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/background-form.jpg);
    background-position: center;
    background-size: cover;
    width:340px;
    height:440px;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;
    position:relative}

.titulo-form{
    display: flex;
    justify-content: center;
}


h2{
    margin:10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20PX;
    padding-bottom:10px;width:180px;
    color:rgb(255, 255, 255);
    border-bottom:3px solid rgb(255, 255, 255)
}


input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;font-family:'Montserrat',sans-serif;
    transition:all .3s;
    color: white;
    border-bottom:2px solid white;}

input [type="text"]{
    color: white;
}

input:focus{
    border-bottom:2px solid rgb(12, 53, 106);
}


p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#ffffff;
}


button{
    float:right;
    padding:8px 12px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border-color: white;
    background:rgb(12, 53, 106);
    color:#fff;
    cursor:pointer;
    transition:all .3s;
}


button:hover{
    border-radius: 20px;
    background: rgb(10, 33, 63);
    color:#fff;
}

input::placeholder{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}




